@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: 'poppins-bold';
  src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: 'poppins-semibold';
  src: url("../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: 'poppins-medium';
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: 'poppins-regular';
  src: url("../fonts/Poppins-Regular.ttf");
}

* {
  font-family: 'Poppins';
  letter-spacing: 0.007em;
}

.btn-contact {
  padding: 14px 25px;
  color: #FF6C91;
  border-radius: 100px;
  border: 3px solid #FF6C91;
  text-align: center;
  display: block;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  position: relative;
}

.btn-contact span {
  font-weight: 500;
  font-size: 14px;
}

.btn-contact img {
  position: absolute;
  top: 8px;
  left: 10px;
}

.btn-contact:hover {
  background-color: #FF6C91;
  color: white;
}

.btn-link {
  padding: 14px 25px;
  border: 3px solid #8CBB29;
  font-size: 12px;
  font-weight: 500;
  color: #8CBB29;
}

.btn-link:hover {
  background-color: #8CBB29;
  color: white;
}

.btn-active {
  background-color: #F1582C;
  color: white;
}

.btn-active:hover {
  background-color: #F1582C;
  color: white;
}

.desc-profile button {
  font-size: 14px !important;
  font-weight: 500;
}

body {
  background: linear-gradient(175.57deg, #FFF9B6 0%, #FFE9EE 51.04%, rgba(221, 255, 148, 0.75) 100%);
  color: #363636;
}

.wrapper {
  max-width: 462.66px;
  margin: 0 auto;
}

.profile {
  width: 100%;
  padding-top: 15px;
}

.profile .img-profile {
  width: 100px;
  height: 100px;
  background-color: white;
  overflow: hidden;
  border-radius: 100px;
  margin: 29px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile .img-profile img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.profile .desc-profile {
  text-align: center;
}

.profile .desc-profile h1 {
  font-size: 26px;
  font-weight: 600;
  margin-top: 5px;
}

.profile .desc-profile p {
  margin: 0 auto;
  width: 80%;
  font-size: 12px;
  color: #979797;
}

.contact {
  margin: 30px auto 0 auto;
}

.contact a {
  margin-top: 10px;
}

.marketplace h3 {
  font-weight: 600;
  color: #212529;
  margin-bottom: 25px;
}

.marketplace .bg-shopee {
  background-color: #FFEFEA;
}

.marketplace .bg-tokopedia {
  background-color: #ECFFEA;
}

.marketplace .bg-lazada {
  background-color: #DFF5FF;
}

.marketplace .bg-bukalapak {
  background-color: #FFEEF4;
}

.marketplace a .card {
  border-radius: 30px !important;
  background-color: rgba(0, 0, 0, 0);
}

.marketplace a .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px !important;
  height: 200px;
  border-radius: 30px !important;
}

.marketplace a .card .card-body .marketplace-image img {
  width: 20%;
  display: block;
  margin: 0 auto;
}

.marketplace a .card .card-body .marketplace-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.marketplace a .card .card-body .marketplace-info p {
  font-size: 1.2rem;
  font-weight: 500;
  color: #212529;
  margin-top: 12px;
  margin-bottom: 0;
}

.marketplace a .card .card-body .marketplace-info span {
  font-size: 0.8rem;
  color: #7B7F9E;
  text-align: center;
}

.trending h3 {
  font-weight: 600;
  color: #212529;
}

.trending .swiper-container {
  position: relative;
  left: -10px;
}

.trending .swiper-container .swiper-slide {
  max-width: 221px;
}

.trending .swiper-container a {
  color: #212529;
}

.trending .swiper-container a .box-trending {
  width: 100% !important;
  height: auto;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 25px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 25px -4px rgba(0, 0, 0, 0.15);
}

.trending .swiper-container a .box-trending .img-trending {
  width: 100%;
  height: 170px;
  background-color: #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
}

.trending .swiper-container a .box-trending .img-trending img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.trending .swiper-container a .box-trending .info-trending {
  margin-top: 25px;
}

.trending .swiper-container a .box-trending .info-trending .description-trending h6 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.trending .swiper-container a .box-trending .info-trending .description-trending p {
  font-weight: 600;
  margin-bottom: 0px;
}

.trending .swiper-container a .box-trending .info-trending .description-trending .message-trending {
  width: 30px;
}

.new-product h3 {
  font-weight: 600;
  color: #212529;
}

.new-product .swiper-container {
  position: relative;
  left: -10px;
}

.new-product .swiper-container .swiper-slide {
  max-width: 263px;
}

.new-product .swiper-container a {
  color: #212529;
}

.new-product .swiper-container a .card {
  background-color: white;
  border-radius: 15px;
  -webkit-box-shadow: 4px 4px 25px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 25px -4px rgba(0, 0, 0, 0.15);
}

.new-product .swiper-container a .card .card-body {
  padding: 10px;
  max-height: 70px;
}

.new-product .swiper-container a .card .card-body .img-product {
  width: 50px;
  height: 45px;
  overflow: hidden;
  border-radius: 15px;
}

.new-product .swiper-container a .card .card-body .img-product img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.new-product .swiper-container a .card .card-body .product-text {
  margin-left: 15px;
}

.new-product .swiper-container a .card .card-body .product-text h6 {
  width: 120px;
  font-weight: 500;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 14px;
}

.new-product .swiper-container a .card .card-body .product-text span {
  font-weight: 600;
}

.new-product .swiper-container a .card .card-body .img-msg {
  float: right;
}

.new-product .swiper-container a .card .card-body .img-msg img {
  width: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

.best-seller .card-mobile {
  padding: 0 10px;
}

.best-seller h3 {
  font-weight: 600;
  color: #212529;
  margin-bottom: 25px;
}

.best-seller a {
  color: #212529;
}

.best-seller a .box-best {
  width: 100% !important;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 4px 4px 50px -4px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 50px -4px rgba(0, 0, 0, 0.15);
  position: relative;
}

.best-seller a .box-best .img-best {
  width: 100%;
  height: auto;
  background-color: #f3f3f3;
  border-radius: 15px;
  overflow: hidden;
}

.best-seller a .box-best .img-best img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.best-seller a .box-best .info-best {
  margin-top: 25px;
}

.best-seller a .box-best .info-best .description-best h6 {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.best-seller a .box-best .info-best .description-best p {
  font-weight: 600;
  margin-bottom: 0;
}

.best-seller a .box-best .message-best {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.swiper-content {
  margin-top: 30px;
}

.swiper-content h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.swiper-content .swiper-container {
  padding-right: 50px;
}

.swiper-content .swiper-container .swiper-wrapper .box {
  padding: 20px 10px;
  border-radius: 30px;
  width: 100%;
  min-height: 120px;
  background-color: white;
  color: #363636;
  text-align: center;
  border: 1px solid #E9EBF7;
}

.swiper-content .swiper-container .swiper-wrapper .box img {
  width: 50px;
}

.swiper-content .swiper-container .swiper-wrapper .box p {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  font-weight: 500;
  word-wrap: break-word;
}

.produk {
  margin-top: 30px;
}

.produk h2 {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 600;
}

.produk h2 span {
  color: red;
}

.produk .row {
  padding: 0 10px !important;
}

.produk .row .col-6 {
  padding: 0 5px !important;
}

.produk .row .col-6 .grid-left, .produk .row .col-6 .grid-right {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.produk .row .col-6 .grid-left img, .produk .row .col-6 .grid-right img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.produk .row .col-6 .grid-left {
  height: 250px;
}

.produk .row .col-6 .grid-right {
  height: 120px;
}

.link {
  margin-top: 30px;
}

.link h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.link h2 span {
  color: red;
}

.link .button-link > .btn-link {
  margin-bottom: 16px !important;
}

.footer {
  margin-top: 50px;
}

.footer p {
  font-size: 12px;
  text-align: center;
  font-weight: 400;
  color: #7B7F9E;
}

.footer p a {
  color: #7B7F9E;
}

.detail-page {
  background-color: white;
  color: #363636;
  margin: 0 auto;
  position: relative;
}

.detail-page .placeholder-loading {
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 0;
}

.detail-page .item-image {
  width: 100%;
  height: 460px;
  background-color: #f3f3f3;
  max-height: 400px;
  overflow: hidden;
  border-radius: 0 0 70px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.detail-page .item-image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.detail-page .item-image .button-back {
  position: absolute;
  top: 35px;
  left: 25px;
}

.detail-page .item-image .button-back a {
  padding: 12px 16px;
  text-decoration: none;
  color: white;
  background-color: 363636;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
}

.detail-page .information {
  margin-top: 50px;
}

.detail-page .information h2 {
  color: #333;
  font-weight: 600;
  letter-spacing: -5%;
}

.detail-page .information span {
  color: #979797;
  display: block;
  margin-top: 10px;
}

.detail-page .information p {
  color: #979797;
  font-weight: 400;
  margin-top: 30px;
}

.detail-page .pricing {
  width: 100%;
  padding: 10px 18px 25px 18px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px 0.5;
          box-shadow: 10px 10px 10px 0.5;
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail-page .pricing .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.detail-page .pricing .preview label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-size: 40px !important;
}

.detail-page .pricing .preview .currency {
  top: 0;
  font-size: 1rem;
  color: #363636;
}

.detail-page .pricing .preview .nominal {
  font-weight: 600;
  color: #363636;
}

.detail-page .pricing .preview span {
  font-weight: 500;
  font-size: 1.4rem;
}

.detail-page .pricing .btn-whatsapp {
  color: white;
  border-radius: 15px;
  background-color: #F1582C;
  padding: 16px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 28.5816px 34.8439px rgba(103, 58, 183, 0.0323969), 0px 17.2217px 20.995px rgba(103, 58, 183, 0.0276031), 0px 9.59014px 11.6913px rgba(103, 58, 183, 0.0223931), 0px 4.12465px 5.02837px rgba(103, 58, 183, 0.0154995);
          box-shadow: 0px 28.5816px 34.8439px rgba(103, 58, 183, 0.0323969), 0px 17.2217px 20.995px rgba(103, 58, 183, 0.0276031), 0px 9.59014px 11.6913px rgba(103, 58, 183, 0.0223931), 0px 4.12465px 5.02837px rgba(103, 58, 183, 0.0154995);
}

.detail-page .pricing .btn-whatsapp i {
  font-size: 20px;
  margin-right: 10px;
}

.detail-page .pricing .btn-whatsapp span {
  font-size: 0.9rem;
  font-weight: 500;
}

@media screen and (max-width: 573px) {
  .detail-page .item-image {
    border-radius: 0 0 60px  60px;
    max-height: 360px;
  }
  .detail-page .information {
    margin-top: 50px;
  }
  .detail-page .information h2 {
    font-size: 25px;
  }
  .detail-page .information p {
    min-height: 120px;
  }
  .detail-page .pricing {
    width: 100%;
    padding: 0px;
    padding-bottom: 15px;
    margin-top: 15px;
  }
  .detail-page .pricing .preview .currency {
    font-size: 1rem;
  }
  .detail-page .pricing .preview span {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .detail-page .pricing .btn-whatsapp {
    padding: 16px 18px;
  }
  .detail-page .pricing .btn-whatsapp i {
    font-size: 20px;
    margin-right: 10px;
  }
  .detail-page .pricing .btn-whatsapp span {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .detail-page .item-image {
    border-radius: 0 0 30px  30px;
    max-height: 220px;
  }
  .detail-page .preview .currency {
    font-size: 0.8rem !important;
  }
  .detail-page .preview span {
    font-weight: 500;
    font-size: 1.3rem !important;
  }
  .detail-page .btn-whatsapp {
    padding: 10px !important;
  }
  .detail-page .btn-whatsapp i {
    font-size: 1rem;
  }
  .detail-page .btn-whatsapp span {
    font-size: 0.7rem !important;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 573px) {
  .btn-contact span {
    font-size: 12px;
  }
  .profile .desc-profile p {
    font-size: 10px;
  }
  .swiper-content h2 {
    font-size: 14px;
  }
  .swiper-content .swiper-container {
    padding-right: 50px;
  }
  .swiper-content .swiper-container .swiper-wrapper .box {
    border-radius: 20px;
    min-height: 90px;
    padding: 10px 2px !important;
  }
  .swiper-content .swiper-container .swiper-wrapper .box img {
    margin-top: 6px;
    width: 35px;
  }
  .swiper-content .swiper-container .swiper-wrapper .box p {
    font-size: 12px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .swiper-content .swiper-container .swiper-wrapper .box span {
    font-size: 10px !important;
  }
  .produk h2 {
    font-size: 14px;
  }
  .link h2 {
    font-size: 14px;
  }
}
