.btn-get-started{
    font-family: 'poppins-medium';
    background-color: rgb(94, 1, 182);
    color: white;
    border-radius: 15px;

    &:hover{
        background-color: rgb(66, 2, 126);
        color: white;
    }
}

.btn-social{
    background-color: #C3E8E3;
    color: #0A6D62;
    border-radius: 30px;
    font-weight: 500;
    padding: 7px 15px;

    &:hover{
        background-color: #79b0a9;
        color: white;
    }
}

.btn-line{
    background-color: #ECFFEC;
    color: #098709;
    border-radius: 30px;
    font-weight: 500;
    padding: 7px 15px;

    &:hover{
        background-color: #098709;
        color: #ECFFEC;
    }
}

.btn-link{
    background-color: #EBF0FF;
    margin-bottom: 15px;
    font-weight: 500;
    color: #212529;
    padding: 15px 0;
    border-radius: 15px;

    &:hover{
        color: #212529;
        background-color: #b4bacf;
    }
}

.btn-menu{
    background-color: rgba(0,0,0, 0.7);
    border-radius: 5px;
}
.btn-active{
    background-color: #1B1D28;
    color: white;

    &:hover{
        background-color: #1B1D28;
        color: white;
    }
}

.pembatas{
    width: 80%;
    height: 2px;
    background-color: #ececec;
    margin: 0 auto;
}