.detail-page{
    background-color: white;
    color: #363636;
    margin: 0 auto;
    position: relative;

    .placeholder-loading{
        z-index: 100;
        width: 100%;
        position: absolute;
        top: 0;
    }

    .item-image{
        width: 100%;
        height: 460px;
        background-color: #f3f3f3;
        max-height: 400px;
        overflow: hidden;
        border-radius: 0 0 70px 70px;
        display: flex;
        justify-content: center;
        position: relative;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
        z-index:2;
    
        img{
            width: 100%;
            object-fit: cover;
        }
    
        .button-back{
            position: absolute;
            top: 35px;
            left: 25px;
    
            a{
                padding: 12px 16px;
                text-decoration: none;
                color: white;
                background-color: 363636;
                background-color: rgba(0 , 0, 0, 0.7);
                border-radius: 50%;
    
            }
    
            
        }
    }
    
    .information{
        margin-top: 50px;
        
        h2{
            color: #333;
            font-weight: 600;
            letter-spacing: -5%;
        }
        span{
            color: #979797;
            display: block;
            margin-top: 10px;
        }
        p{
            color: #979797;
            font-weight: 400;
            margin-top: 30px;
        }
    }
    
    .pricing{
        width: 100%;
        padding: 10px 18px 25px 18px;
        background-color: white;
        box-shadow: 10px 10px 10px 0.5;
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
    
        .preview{
            display: flex;
            align-items: center;
            position: relative;
    
            label{
                display: flex;
                margin: 0;
                font-size: 40px !important;
            }
            .currency{
                top: 0;
                font-size: 1rem;
                color: #363636;
            }
            .nominal{
                font-weight: 600;
                color: #363636;
            }
            span{
                font-weight: 500;
                font-size: 1.4rem;
            }
        }
    
        .btn-whatsapp{
            color: white;
            border-radius: 15px;
            background-color: #CEC7B5;
            padding: 16px 18px;
            display: flex;
            align-items: center;
            box-shadow: 0px 28.5816px 34.8439px rgba(103, 58, 183, 0.0323969), 0px 17.2217px 20.995px rgba(103, 58, 183, 0.0276031), 0px 9.59014px 11.6913px rgba(103, 58, 183, 0.0223931), 0px 4.12465px 5.02837px rgba(103, 58, 183, 0.0154995);
            i{
                font-size: 20px;
                margin-right: 10px;
            }
            span{
                font-size: 0.9rem;
                font-weight: 500;
            }
        }
    }
}

@media screen and(max-width: 573px){
    .detail-page{
        // Detail Page
        .item-image{
            border-radius: 0 0 60px  60px;
            max-height: 360px;
        }

        .information{
            margin-top: 50px;
            h2{
                font-size: 25px;
            }
            p{
                min-height: 120px;
            }
        }

        .pricing{
            width: 100%;
            padding: 0px;
            padding-bottom: 15px;
            margin-top: 15px;
        
            .preview{
                .currency{
                    font-size: 1rem;
                }
                span{
                    font-weight: 500;
                    font-size: 1.4rem;
                }
            }
        
            .btn-whatsapp{
                padding: 16px 18px;
                i{
                    font-size: 20px;
                    margin-right: 10px;
                }
                span{
                    font-size: 0.9rem;
                }
            }
        }
    }
}


@media screen and(max-width: 320px){
    .detail-page{
        .item-image{
            border-radius: 0 0 30px  30px;
            max-height: 220px;
        }
        .preview{
            .currency{
                font-size: 0.8rem !important;
            }
            span{
                font-weight: 500;
                font-size: 1.3rem !important;
            }
        }
    
        .btn-whatsapp{
            padding: 10px !important;
            i{
                font-size: 1rem;
            }
            span{
                font-size: 0.7rem !important;
            }
        }
    }
}