
h3.sub-title{
    font-weight: 600;
    color: var(--main-black-color);
    margin-bottom: 20px;
}

p.deskripsi{
    margin-top: 15px;
    color: #979797;
}

.tentang{

    .img-preview{
        width: 100%;
        height: 232px;
        max-height: 232px;
        object-fit: cover;
        border-radius: 15px;
    }
}

.testimoni {
    .sampul{
        position: relative;
        height: auto;
        border-radius: 0 0 15px 15px;
        overflow: hidden;

        img{
            width: 100%;
            height: 232px;
            max-height: 232px;
            object-fit: cover;
        }
        .overlay{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;

            background: linear-gradient(180deg, rgba(255, 255, 255, 0) -57.73%, rgba(27, 29, 40, 0) 43.68%, #1B1D28 93.48%);
            padding: 15px;
        }

        .title-sampul {
            color: white;
            position: absolute;
            bottom: 15px;

            h3{ font-size: 27px;}
            p{
                font-weight: 300;
            }
        }
    }

    .list-testi{
        margin-top: -18px;
        .swiper-slide{
            .box-testi{
                width: 86%;
                height: auto;
                background-color: white;
                padding:  35px 25px ;
                margin: 0 auto;
                border-radius: 15px;
                box-shadow: 4px 4px 50px -4px rgba(0, 0, 0, 0.25);

                img{
                        width: 65px;
                    height: 65px;
                    object-fit: cover;
                    border-radius: 100px;

                }

                .profil{
                    color: var(--main-black-color) !important;
                    margin-left: 15px;

                    label{ font-weight: normal; margin-bottom: 0;}
                    span{ font-weight: 600;}
                }
            }
        }

        .swiper-pagination {
            margin-top: 20px;
            .swiper-pagination-bullet-active{
                background: var(--main-black-color) !important;
            }
            .swiper-pagination-bullet{
                background: white;
                box-shadow: 0px 0px 0px 3px var(--main-black-color);
                margin-right: 10px;
            }
        }
    }
}

.promo{
    border-radius: 35px 35px 0 0;
    background-color: var(--main-black-color);
    text-align: center;
    padding: 15px 25px;
    margin-top: 70px;

    label{
        margin-top: 35px;
        font-weight: bold;
        font-size: 20px;
    }

    .cover-subscription{
        padding: 20px;
        background-color: #f3f3f3;
        border-radius: 15px;

        input{
            border-radius: 10px;
            border: none;
        }
    }

    .btn-promo-subscription{
        background-color: var(--main-black-color);
        color: white;
        padding: 15px;
        margin-top: 15px;
        border-radius: 10px;
    }
}

.footer-about{
    background-color: var(--main-black-color);
    color: white;
}