.btn-contact{
    padding: 14px 25px;
    color: #363636;
    border-radius: 100px;
    border: 3px solid #D8C0A8;
    text-align: center;
    display: block;
    transition: 0.2s ease-in;

    position: relative;

    span{
        font-weight: 500;
        font-size: 14px;
    }
    img{
        position: absolute;
        top: 8px;
        left: 10px;
    }
    &:hover{
        background-color: #D8C0A8;
        color: white;
    }
}

.btn-link{
    padding: 14px 25px;
    border: 3px solid #E5C1B5;
    font-size: 12px;
    font-weight: 500;
    color: #363636;

    &:hover{
        background-color: #E5C1B5;
        color: white;
    }
}

.btn-active{
    background-color: #D8C0A8;
    color: white;

    &:hover{
        background-color: #D8C0A8;
        color: white;
    }
}
.desc-profile{
    button{
        font-size: 14px !important;
        font-weight: 500;
    }
}