<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Source CSS -->
    <link rel="stylesheet" href="../../assets/dist/css/style.min.css">
    <link rel="stylesheet" href="../../assets/dist/css/preloader.css">
    <link rel="stylesheet" href="../../assets/vendor/swiperjs/css/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/placeholder-loading/dist/css/placeholder-loading.min.css">

    <!-- Source JS  -->
    <script src="../../assets/dist/js/jquery.min.js"></script>
    <script src="../../assets/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/dist/js/popper.min.js"></script>
    <script src="../../assets/vendor/swiperjs/js/swiper-bundle.js"></script>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custmom CSS -->
    <link rel="stylesheet" href="assets/css/style-custom.css">
    <script src="../../js/helper.js"></script>


    <title>Women Fashion 4</title>
</head>
<body>
    <div class="wrapper" id="wrap">

        <div class="detail-page d-none" style="opacity: 0;">
            <!-- Sampul -->
            <div class="item-image">
                <img src="assets/image/product.png" alt="sampul">
                <div class="button-back">
                    <a href="womenfashion4.html">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.5795 14.7994C6.90733 15.1493 7.435 15.145 7.758 14.7899C8.081 14.4347 8.07708 13.8632 7.74925 13.5132L3.27397 8.73622H14.6666C15.1268 8.73622 15.4999 8.33204 15.4999 7.83344C15.4999 7.33493 15.1268 6.93066 14.6666 6.93066H3.27947L7.74925 2.15962C8.07708 1.80968 8.081 1.23809 7.758 0.882935C7.435 0.527773 6.90733 0.523539 6.5795 0.873483L0.809348 7.03259C0.395256 7.47459 0.395256 8.19825 0.809348 8.64025L6.5795 14.7994Z" fill="white"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="content detail px-4">
                <div class="information">
                    <h2>Telur Rebus Mix Chocolate</h2>
                    <span><i>Trending</i></span>
                    <p>Makanan yang diolah dengan bahan-bahan alami. Nyaman dikonsumsi dan siap disajikan pada acara apapun.</p>
                </div>
                <div class="pricing">
                    <div class="preview">
                        <label>
                            <span class="currency">Rp</span>
                            <span class="nominal">9.000.000</span>
                        </label>
                    </div>'
                    <div class='d-flex'>
                        <a class="btn-whatsapp" href="">
                            <i class="fab fa-whatsapp"></i>
                            <span>Tanya Whatsapp</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/main.js"></script>
</body>
</html>