<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Source CSS -->
    <link rel="stylesheet" href="../../assets/dist/css/style.min.css">
    <link rel="stylesheet" href="../../assets/dist/css/preloader.css">
    <link rel="stylesheet" href="../../assets/vendor/swiperjs/css/swiper-bundle.css">

    <!-- Source JS  -->
    <script src="../../assets/dist/js/jquery.min.js"></script>
    <script src="../../assets/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/dist/js/popper.min.js"></script>
    <script src="../../assets/vendor/swiperjs/js/swiper-bundle.js"></script>

    <!-- FONTS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Custmom CSS -->
    <link rel="stylesheet" href="assets/css/style-custom.css">


    <title>Men Fashion 4</title>
</head>
<body>
    <div class="preloader">
        <div class="loading">
          <img src="assets/image/loader.gif" width="400">
        </div>
    </div>
    <div class="wrapper px-4">
        <div class="home-page d-block" style="opacity: 1;">
            <div class="profile">
                <div class="img-profile">
                    <img src="assets/image/profil.png" alt="">
                </div>
                <div class="desc-profile">
                    <h1>Wibinx Beauty</h1>
                    <p>Pusat make up terlengkap di Bali dan Nusa Tenggara</p>
    
                    <div class="d-flex justify-content-center mt-4">
                        <button id="btnAllLink" class="btn btn-light btn-active px-4 mr-2 rounded-pill" href="">All Link</button>
                        <button id="btnKatalog" class="btn btn-light px-4 rounded-pill" href="">Katalog</button>
                    </div>
                </div>
            </div>
            <div class="content">
                <div id="all-link" class="d-block" style="opacity: 1;">
                    <!-- Contact -->
                    <div class="contact">
                        <a class="btn-contact" href="">
                            <img src="assets/image/svg/whatsapp.svg" alt="">
                            <span class="text-center">Chat Sekarang</span>
                        </a>
                        <a class="btn-contact" href="">
                            <img src="assets/image/svg/line.svg" alt="">
                            <span class="text-center">Chat Sekarang</span>
                        </a>
                    </div>
                    <!-- Contact -->

                    <!-- Sosial Media -->
                    <div class="swiper-content">
                        <h2>Sosial Media</h2>
                        <div class="swiper-container swiper1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/instagram.png" alt="instagram">
                                            <p>Instagram</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/facebook.png" alt="facebook">
                                            <p>Facebook</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/youtube.png" alt="youtube">
                                            <p>Youtube</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/tiktok.png" alt="tiktok">
                                            <p>Tiktok</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sosial Media -->

                    <!-- Market Place -->
                    <div class="swiper-content">
                        <h2>Marketplace</h2>
                        <div class="swiper-container swiper1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/shopee.png" alt="shopee">
                                            <p>Shopee</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/tokopedia.png" alt="tokopedia">
                                            <p>Tokopedia</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/lazada.png" alt="lazada">
                                            <p>Lazada</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="">
                                        <div class="box">
                                            <img src="assets/image/png/bukalapak.png" alt="bukalapak">
                                            <p>Bukalapak</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Market Place -->


                    <!-- <div class="produk">
                        <h2>Produk Best Seller <span>*</span></h2>
                        <div class="row">
                            <div class="col-6">
                                <div class="grid-left">
                                    <img src="assets/image/1.png" alt="">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="grid-right" style="margin-bottom: 10px;">
                                    <img src="assets/image/2.png" alt="">
                                </div>
                                <div class="grid-right">
                                    <img src="assets/image/3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>  -->

                    <!-- Link -->
                    <div class="link">
                        <h2>Link Lainnya</h2>
                        <div class="button-link">
                            <a class="btn btn-block btn-rounded btn-link" href="">Buka Website</a>
                            <a class="btn btn-block btn-rounded btn-link" href="">Join Reseller</a>
                            <a class="btn btn-block btn-rounded btn-link" href="">Promo 12.12</a>
                            <a class="btn btn-block btn-rounded btn-link" href="">Giveaway</a>
                            <a class="btn btn-block btn-rounded btn-link" href="">How to Order</a>
                            <a class="btn btn-block btn-rounded btn-link" href="">Buka Website</a>
                            
                        </div>
                    </div> 
                    <!-- Link -->
                </div>
                <div id="katalog" class="d-none" style="opacity : 0">
                    <!-- Trending -->
                    <div class="trending mt-5">
                        <h3>Trending</h3>
                        <div class="swiper-container swiper2 pl-3 pr-5 py-4">
                            <div class="swiper-wrapper">
                                <!-- Slider & Foreach -->
                                <div class="swiper-slide">
                                    <a class="goto-detail" href="detail-page.html">
                                        <div class="box-trending bg-instagram">
                                            <div class="img-trending">
                                                <img src="assets/image/product.png" alt="">
                                            </div>
                                            <div class="info-trending">
                                                <div class="description-trending">
                                                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut odit quidem consequuntur deleniti libero voluptatibus debitis, </h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p>Rp. 125.000</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="box-trending bg-instagram">
                                            <div class="img-trending">
                                                <img src="assets/image/product.png" alt="">
                                            </div>
                                            <div class="info-trending">
                                                <div class="description-trending">
                                                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut odit quidem consequuntur deleniti libero voluptatibus debitis, </h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p>Rp. 125.000</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="box-trending bg-instagram">
                                            <div class="img-trending">
                                                <img src="assets/image/product.png" alt="">
                                            </div>
                                            <div class="info-trending">
                                                <div class="description-trending">
                                                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut odit quidem consequuntur deleniti libero voluptatibus debitis, </h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p>Rp. 125.000</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="box-trending bg-instagram">
                                            <div class="img-trending">
                                                <img src="assets/image/product.png" alt="">
                                            </div>
                                            <div class="info-trending">
                                                <div class="description-trending">
                                                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut odit quidem consequuntur deleniti libero voluptatibus debitis, </h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p>Rp. 125.000</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="box-trending bg-instagram">
                                            <div class="img-trending">
                                                <img src="assets/image/product.png" alt="">
                                            </div>
                                            <div class="info-trending">
                                                <div class="description-trending">
                                                    <h6>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut odit quidem consequuntur deleniti libero voluptatibus debitis, </h6>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p>Rp. 125.000</p>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- End Foreach -->
                            </div>
                        </div>
    
                    </div>
    
                    <!-- New Product -->
                    <div class="new-product mt-5">
                        <h3>Produk Terbaru</h3>
                        <div class="swiper-container swiper3 pl-3 pr-5 py-4">
                            <div class="swiper-wrapper">
                                <!-- Slider & Foreach -->
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center">
                                                <div class="img-product">
                                                    <img src="assets/image/product.png" alt="">
                                                </div>
                                                <div class="product-text">
                                                    <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ea nostrum animi</h6>
                                                    <span>Rp. 150.000</span>
                                                </div>
                                                <div class="img-msg ml-auto">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center">
                                                <div class="img-product">
                                                    <img src="assets/image/product.png" alt="">
                                                </div>
                                                <div class="product-text">
                                                    <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ea nostrum animi</h6>
                                                    <span>Rp. 150.000</span>
                                                </div>
                                                <div class="img-msg ml-auto">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="" href="detail-page.html">
                                        <div class="card">
                                            <div class="card-body d-flex align-items-center">
                                                <div class="img-product">
                                                    <img src="assets/image/product.png" alt="">
                                                </div>
                                                <div class="product-text">
                                                    <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum ea nostrum animi</h6>
                                                    <span>Rp. 150.000</span>
                                                </div>
                                                <div class="img-msg ml-auto">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- End Foreach -->
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
    
                    <!-- Best Seller -->
                    <div class="best-seller mt-4">
                        <h3>Best Seller</h3>
                        <div class="row">
                            <!-- Foreach -->
                            <div class="col-6 mb-4 card-mobile">
                                <a href="">
                                    <div class="box-best">
                                        <div class="img-best">
                                            <img src="assets/image/product.png" alt="">
                                        </div>
                                        <div class="info-best">
                                            <div class="description-best">
                                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum in modi incidunt enim autem, dolorum perspici</h6>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Rp. 125.000</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-4 card-mobile">
                                <a href="">
                                    <div class="box-best">
                                        <div class="img-best">
                                            <img src="assets/image/product.png" alt="">
                                        </div>
                                        <div class="info-best">
                                            <div class="description-best">
                                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum in modi incidunt enim autem, dolorum perspici</h6>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Rp. 125.000</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-4 card-mobile">
                                <a href="">
                                    <div class="box-best">
                                        <div class="img-best">
                                            <img src="assets/image/product.png" alt="">
                                        </div>
                                        <div class="info-best">
                                            <div class="description-best">
                                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum in modi incidunt enim autem, dolorum perspici</h6>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Rp. 125.000</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 mb-4 card-mobile">
                                <a href="">
                                    <div class="box-best">
                                        <div class="img-best">
                                            <img src="assets/image/product.png" alt="">
                                        </div>
                                        <div class="info-best">
                                            <div class="description-best">
                                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias nostrum in modi incidunt enim autem, dolorum perspici</h6>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <p>Rp. 125.000</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- End Foreach -->
                        </div>
                    </div>
                </div>
            </div>


            <!-- Footer -->
            <div class="footer">
                <p>2021 - Powered by <a href="https://wibinx.com">Wibinx.com</a></p>
            </div>
        </div>
    </div>
    <script src="assets/js/main.js"></script>
</body>
</html>